body {
  background-color: grey;
  color: black;
  /*Center all elements within body using flex-box*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*Places the body in the center of the page and removes scroll option by margin*/
  min-height: 100vh;
  margin: 0;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.box {
}
